.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0f0f;
  color: #4ab1b1;
  font-family: 'Segoe UI', sans-serif;
}

.login-box {
  background-color: #1c1c1c;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.logo {
 width: 96.20986938476562;
height: 33.59872055053711;
opacity: 1;
top: 50.48px;
left: 105.79px;
background: #111111;
box-shadow: 0px 2px 6px 0px #0c0c0c73;
text-align: center;
}

.welcome {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #aaa;
}

.google-login {
  width: 100%;
  padding: 0.75rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

.divider {
  text-align: center;
  margin: 1rem 0;
  color: #666;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #fff;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.remember input {
  margin-right: 0.5rem;
}

.forgot {
  color: #ffffff;
  text-decoration: none;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color:  #10fde5;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.signup-prompt {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-prompt a {
  color: #3cffef;
  text-decoration: none;
}